# Apache Server Configs v2.0.0 | MIT License
# https://github.com/h5bp/server-configs-apache

# (!) Using `.htaccess` files slows down Apache, therefore, if you have access
# to the main server config file (usually called `httpd.conf`), you should add
# this logic there: http://httpd.apache.org/docs/current/howto/htaccess.html.

# ##############################################################################
# # 301 REDIRECT ENTIRE DIRECTORY                                              #
# ##############################################################################

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^pricing_availability/(.*) /pricing-availability/$1 [R=301,L]
    RewriteRule ^pricingavailability/(.*) /pricing-availability/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</IfModule>
